

    header {
        display: flex;
        flex-direction: row;
        padding: 30px 0px 30px 0px;

        i {
            margin: auto 0px auto 25px;
            font-size: 25px;
        }

        img {
            margin: auto;
            max-width: 250px;
        }
    }

