:root {
    --blue-primary: #0065FC;
    --blue-light: #DEEBFF;
    --gray: #F2F2F2;
    --gray-600: #d9d9d9;
    --black: #000;
    --white: #fff;
    --violet: #9356DC;
    --pink: #FF79DA;
    --green: #99E2D0;

}